<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
</head>
<body>
{% if trips %}
{% for trip in trips %}
<div style="margin-left:10%;">
    <div>Price: {{ trip.price }} {{ trip.currency }}</div>
    <div>Flight to: {{ trip.to }}</div>
    <div>Flight to Airport: {{ trip.to_airport }}</div>
    <div>---------------------------------------------</div>
    <div>Outbound departureTime: {{ trip.date_from_departure }}</div>
    <div>Outbound arrivalTime: {{ trip.date_from_arrival }}</div>
    <div>---------------------------------------------</div>
    <div>Inbound departureTime: {{ trip.date_back_departure }}</div>
    <div>Inbound arrivalTime: {{ trip.date_back_arrival }}</div>
    <div>---------------------------------------------</div>
    <div>Days: {{ trip.days }}</div>
</div>
<hr />
{% endfor %}
{% else %}
No entries found for the request
{% endif %}
</body>
</html>