<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
</head>
<body>
{% for trip in trips %}
<div>
    <div>Price: {{ trip.totalPrice }}</div>
    <div>Flight to: {{ trip.outbound.destinationFull }}</div>
    <div>Flight to Airport: {{ trip.outbound.destination }}</div>
    <div>Outbound departureTime: {{ trip.outbound.departureTime }}</div>
    <div>Outbound arrivalTime: {{ trip.outbound.arrivalTime }}</div>
    <div>---------------------------------------------</div>
    <div>Inbound departureTime: {{ trip.inbound.departureTime }}</div>
    <div>Inbound arrivalTime: {{ trip.inbound.arrivalTime }}</div>
    <div>Days: {{ (trip.inbound.departureTime - trip.outbound.departureTime).days }}</div>
</div>
<hr />
{% endfor %}
</body>
</html>